
.form-global {
    margin-left: 15px;
}
.create-task-input {
    width: 200px;
  }
  
  .create-task-select {
    width: 208px;
    border: 1px solid #ccc;
    border-radius: 2px;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: 100px 200px;
    row-gap: 5px;
  }
  .name-label {
    grid-row: 1;
    grid-column: 1;
  }
  .name {
    grid-row: 1;
    grid-column: 2;
  }
  .date-label {
    grid-row: 2;
    grid-column: 1;
    
  }
  .date {
    grid-row: 2;
    grid-column: 2;
  }
  .time-label {
    grid-row: 3;
    grid-column: 1;
    
  }
  .time {
    grid-row: 3;
    grid-column: 2;
  }
  .priority-label {
    grid-row: 4;
    grid-column: 1;
  }
  .priority {
    grid-row: 4;
    grid-column: 2;
  }
  .category-label {
    grid-row: 5;
    grid-column: 1;
  }
  .category {
    grid-row: 5;
    grid-column: 2;
  }
  .desc-label {
    grid-row: 6;
    grid-column: 1;
  }
  .desc {
    grid-row: 6;
    grid-column: 2;
  }
  
  
  